<!DOCTYPE html>
<html ng-app = "test">
<head>
 <meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/tnation.css">
	<title>Tnation-test</title>
</head>
<body>
<form ng-submit="submit()" ng-controller="submitController">
  <input type="text" ng-model="text" name="text" />
  <input type="submit" id="submit" value="Submit" />
<ol>
  <li ng-repeat="city in list" ng-click="remove($index)">
     {{city}}
  </li>
</ol>

<div ng-controller = "jsonController">
<ol>
  	<li ng-repeat="item in gradovi.ponudjene track by $index">
     {{item}}
</li>
</ol>

</div>
</form>
<script type="text/javascript" src="tnation.js"></script>
</body>
</html>



