<form id="left" ng-submit="submit()">
	<span>OBLAST: {{data.oblast}}</span>
	<p id="vreme">VREME: <span ng-bind="counter" ng-init="countdown()"></span></p>
	<input type="text" id="input" ng-model="text" name="text" typeahead="answer for answer in data.ponudjene | filter:$viewValue" />
	<input type="submit" id="submit" value="Dodaj u listu" />
</form>

<div id="right">
	<p>Lista ubacenih gradova</p>
	<ul id="lista">
	  <li ng-repeat="city in answers" ng-click="remove($index)" class="listic">
	     {{city}} 
	  </li>
	</ul>
	<button ng-click="changePage()">Zavrsi igru</button>
</div>













