<div ng-submit="submit()">

<div id="left">
	<span>OBLAST: {{data.oblast}}</span>
	<p id="vreme">VREME: <span ng-bind="counter" ng-init="countdown()"></span></p>

	<input type="text" id="input" ng-model="text" name="text" typeahead="answer for answer in data.ponudjene | filter:$viewValue" />

	<input type="submit" id="submit" value="Dodaj u listu" />

</div>



<div id="right">
<p>Lista ubacenih gradova</p>
<ol>
  <li ng-repeat="city in answers" ng-click="remove($index)">
     {{city}}
  </li>
</ol>
<button>Zavrsi igru</button>
</div>

</div>












